<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/blog.css">
  <title>My Blog</title>
</head>
<body class="{theme}">
    <nav class="{theme-mod}">    
    <p class="{theme-mod}">My blog</p>

    <ul class="{theme-mod}">
      <li class="{theme-mod}"><a href="?theme=dark" class="{theme-mod}">Dark</a></li>
      <li class="{theme-mod}"><a href="?theme=light" class="{theme-mod}">Light</a></li>
      <li class="{theme-mod}"><a href="?theme=green" class="{theme-mod}">Green</a></li>
      <li class="{theme-mod}"><a href="?theme=pink" class="{theme-mod}">Pink</a></li>
    </ul>
    
  </nav>
  
  <h1>{title}</h1>
  <h2>{date}</h2>
  <p class="{theme-mod}">{entry}</p>
</body>
</html>