* {
  font-family: sans-serif;
  background-color: #04151F;
  color: white;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

form {
  width: 320px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 3px solid #092b3e;
  padding: 20px;
  border-radius: 10px;
}

label {
  margin: 15px 0;
  font-size: 20px;
}

button {
  margin-top: 18px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid #0d1f74;
  transition: all .2s ease-in;
}

button:hover {
  background-color: #0d1f74;
}

input {
  border: none;
  background-color: #092b3e;
  border-radius: 3px;
  height: 30px;
  font-size: 18px;
}

p {
  font-size: 20px;
}

.radio_container {
  display: flex;
  align-items: center;
  height: 35px;
}

.space {
  margin-right: 20px;
}