<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/day.css">
  <script src="https://kit.fontawesome.com/385d32b075.js" crossorigin="anonymous"></script>
  <title>Day {day} reflection</title>
</head>
<body>
  <h1>Day {day} reflection</h1>
  <h2><a href="{link}" target="_blank">See my code here</a></h2>
  <p class = "reflection">{reflection}</p>
  <div>
    <p><a href="{prevDay}"><i class="fa-sharp fa-solid fa-chevron-left"></i>previous day</a></p>
    
    <p><a href="{nextDay}">next day<i class="fa-sharp fa-solid fa-chevron-right"></i></a></p>
  </div>
</body>
</html>