body {
  font-family: sans-serif;
  background-color: #04151F;
  color: white;
  margin-bottom: 50px;
  margin-left: 10px;
}

p {
  background-color: #08283a;
  padding: 7px;
  font-size: 20px;
}

nav, ul, li, a{
  background-color: #08283a;
  margin: 0;
  padding: 0;
 }

nav p {
  margin: 0;
  padding: 0 0 0 7px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 30px;
  padding-left: 7px;
}

ul {
  display: inherit;
  margin: 0px
}

li {
  list-style: none;
  margin-right: 15px;
  font-size: 20px;
}

a{
  text-decoration: none;
}


.dark {
  background-color: #04151F;
  color: white;
}

.dark-mod {
  background-color: #08283a;
}

.light {
  background-color: #dad7cd;
  color: #001524;
}

.light-mod {
  background-color: #bbd0ff;
}

.green {
  background-color: #344e41;
  color: white;
}

.green-mod {
  background-color: #a3b18a;
}

.pink {
  background-color: #ffafcc;
  color: #001524;
}
.pink-mod {
  background-color: #c8b6ff;
}

